<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    
    
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/issmapco_scruz</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">root</property>
    
    
    <!--<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/issmapco_nfse</property>
    <property name="hibernate.connection.username">issmapco</property>
    <property name="hibernate.connection.password">or@maMp82</property>--> 

    <property name="hbm2ddl.auto">update</property>
    <!-- Mostrar Codigo SQl -->
    <property name="show_sql">false</property>
    <property name="format_sql">false</property> 
    
    <!-- Classes anotadas -->
    <mapping class="br.com.nfse.to.Estado"/>
    <mapping class="br.com.nfse.to.Cidade"/>
    <mapping class="br.com.nfse.to.Bairro"/> 
    <mapping class="br.com.nfse.to.Logradouro"/>     
    <mapping class="br.com.nfse.to.Servico"/>
    <mapping class="br.com.nfse.to.Ccm"/>    
    <mapping class="br.com.nfse.to.Contato"/>
    <mapping class="br.com.nfse.to.Socio"/>
    <mapping class="br.com.nfse.to.Usuario"/>
    <mapping class="br.com.nfse.to.IBGECidade"/>
    <mapping class="br.com.nfse.to.IBGEEstado"/>
    <mapping class="br.com.nfse.to.GeneroAtividade"/>
    <mapping class="br.com.nfse.to.HistoricoBloqueio"/>
    <mapping class="br.com.nfse.to.NFSE"/>
    <mapping class="br.com.nfse.to.Notificacoes"/>      
    <mapping class="br.com.nfse.to.AguardandoEnvio"/>      
    <mapping class="br.com.nfse.to.BoletoIssMap"/>      
    <mapping class="br.com.nfse.to.CartaCorrecao"/>      
        
  </session-factory>
</hibernate-configuration>
